/*csslint display-property-grouping: false, ids:false, order-alphabetical:false */
.wrap
{
    font-family: sans-serif;
    font-weight: 100;

    display: flex;

    min-height: 100vh;

    color: white;

    align-items: center;
    justify-content: center;
}
.box
{
    position: relative;

    width: 50px;
    height: 50px;
    padding: 50px;

    transition: width .2s, height .6s;
    /*background: black url(https://unsplash.it/1500/1500?image=560&blur=0.5) center fixed no-repeat;*/

    background: teal center fixed no-repeat;
}
.box.opening
{
    width: 500px;
    height: 500px;
}
.box h2
{
    font-size: 100px;

    position: absolute;
    top: 0;

    width: 100%;

    transition: all .5s;
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
}
.box p
{
    position: absolute;
    bottom: 0;

    width: 100%;

    transition: all .5s;
    transform: translateX(200%);
}
.box.open > *
{
    transform: translateX(0%);
}